html, body{
	height: 100%;
}

.container{
	height: 100%;
	width: 100%;
}

.UIelement{
	height: 94%;
	background: lightgrey;
}

#topNav{
	height: 5%;
	padding-top: 6px;
}

.input-group-sm>.input-group-addon{
	padding: 5px 2px;
}

#leftNav .input-group{
	width: 104%;
}

#leftNav{
	padding-left: 3px;
	padding-right: 3px;
}